<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Eccomers1">
        <wb-resource deploy-path="/" source-path="/WebContainer" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <property name="context-root" value="Eccomers1"/>
        <property name="java-output-path" value="/Eccomers1/build/classes"/>
    </wb-module>
</project-modules>
